* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This helps avoid box-model issues */
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url('1688688154937.jpg');
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.icon {
    flex: 1;
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
}

.men {
    flex: 2;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 14px;
}

ul li {
    margin-left: 40px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}

.search {
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.srch {
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #fff;
    font-size: 15px;
    border-radius: 0 5px 5px 0;
}

.btn:focus, .srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    margin: auto;
    color: #fff;
    position: relative;
    padding: 20px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    letter-spacing: 2px;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content span {
    color: #ff7200;
    font-size: 60px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #fff;
    border: none;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a {
    text-decoration: none;
    color: #000;
}

.content .form {
    width: 250px;
    height: 380px;
    position: absolute;
    top: -20px;
    right: 20px;
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.7);
}

.form h2 {
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border: none;
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    color: #fff;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.btnn:hover {
    background: #fff;
    color: #ff7200;
}

.form .link {
    font-family: Arial;
    font-size: 17px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #ff7200;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: #0ad87f;
}

.icons ion-icon {
    font-size: 30px;
    padding: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: #ff7200;
}